body {
    color: rgba(0, 0, 0, 0.87);
    margin: 0;
    padding: 0;
}

h1, h2 {
    font-family: 'Pacifico', cursive;
}


.secondary {
    color: rgba(0, 0, 0, 0.54);
}

.hint {
    color: rgba(0, 0, 0, 0.38);
}


.header, .footer {
background: #75DBDD;
}

.header a:link {
    color: rgba(0, 0, 0, 0.87);
}

.header a:visited {
    color: rgba(255, 255, 255, 0.87);
}

.header {
    height: 150px;

}

.logo {
    height: 150px;
    background-image: url(../images/logo.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: bottom left;
}

navigation {
    padding-top: 20px;
    float: right;
    text-align: center;
}

button {
    background-color: #FFEA65;
    font-size: 18px;
    letter-spacing: 1.28px;
    line-height: 20px;
    margin-left: 20px;
}

.button-header {
    background-color: #FFEA65;
    font-size: 16px;
    line-height: 20px;
    margin-left: -5px;
    padding: 0px 10px;
}

.whitebg{
    background-color: #ffffff;
}

 .header .email {
    background-image: 
    linear-gradient(
      rgba(250, 18, 155, 0.7),
      rgba(250, 18, 155, 0.7)
    ),
    url(../images/feathers.png);
    
}

 .header .email {
        height: 150px;
        padding: 10px;
    }

.form {
        white-space: nowrap;
        width:50%; 
        margin:0 auto;
    }
.email p {
        padding-bottom: -15px;
        color: #ffffff;
        text-align: center;
    }

/* Larger than tablet */
@media (min-width: 750px) {
    .email p {
        padding-bottom: -30px;
    }
}


.footer {
    background-image:
    linear-gradient(
      rgba(117, 219, 221, 0.8),
      rgba(117, 219, 221, 0.8)
    ),
    url(../images/feathers.png);
    padding: 20px;
}

.footer p {
    color: rgba(0, 0, 0, 0.87);
}

.footer a {
    color: rgba(0, 0, 0, 0.87);
    font-weight: 600;
}

.links {
    width: 50%;
}