
.product-detail h4 {
    font-size: 14px;
    color: #2D2D2D;
    letter-spacing: normal;
    padding: 0;
    margin: 0;
}

.product-detail h3 {
    font-size: 22px;
    font-style: italic;
    font-weight: 700;
}

.product-detail p {
    font-weight: bolder;
    font-size: 14px;
    letter-spacing: normal;
    padding: 0;
    margin-bottom: 10px;
    padding-bottom: 10px;
    margin: 0;
}

.price {
    color: #FA129B;
    font-style: normal;
}

.products a {
    text-decoration: none;
}


.sidebar {
    background-color: rgba(230, 230, 230, 0.7);
    margin-top: 20px;
    margin-bottom: 50px;
    padding-top: 10px;
}

.products {
    margin-top: 20px;
    margin-bottom: 0px;
}



.sidebar label {
  float: left;
  padding-left: 10px;
}

.sidebar ul {
  list-style: none;
  float: left;
}
.sidebar ul input{
    float:left;
    vertical-align: bottom;
    margin-left: 10px;
    margin-top: 5px;
}

.sidebar li {
    padding-bottom: 0px;
    margin-bottom: 0px;
}

.sidebar h5 {
    font-weight: 800;
    font-size: 14px;
    color: #2D2D2D;
    padding-left: 10px;
    margin-bottom: 10px;
    clear: both;
    position: relative;
}


/* Main div for border to extend to 50% from bottom left corner */
.sidebar h5:after {
  content:""; 
  background: #9B9B9B; 
  position: absolute; 
  top: 22px; 
  left: 10px; 

  height: 4px; 
  width: 75%;
margin-right: 10px;
}